.container {
    margin: 0 auto;
    max-width: 800px;
}

.calcStepper {
    padding: 3rem;
}

.beautifulMain {
    display: flex;
    justify-content: center;
}

.beautifulMain .content {
    width: 80%;
}
